body {
	font-family: "Montserrat", sans-serif;
	background-color: #f3f5f8;
}

h1,
h2,
h3,
h4 {
	margin-top: 24px;
}

/* main styles */
.main {
	display: flex;
	/*reversed order of containers — aside to the left*/
	flex-direction: row-reverse;
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content styles */
.main-content {
	padding: 105px 90px;
}

/* about styles */
.about {
	margin-bottom: 40px;
}

.about-position {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 20px;
}

.about-name {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	color: #000000;
	margin-bottom: 25px;
}

.about-description {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #1e2939;
	width: 450px;
}

/* project styles */
.projects {
	margin-bottom: 50px;
}

.projects-list {
	padding: 0px;
	margin-left: 15px;
}

.project-item,
.project-bracket {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

.project-info {
	display: flex;
	/* flex-wrap: nowrap; */
	justify-content: space-between;
	max-width: 450px;
}

.filler {
	display: inline-block;
	flex-grow: 2;
	position: relative;
	top: -5px;
	border-bottom: dotted 1px #000000;
}

.project-info,
.project-link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}

.project-link {
	margin-left: 10px;
}

/* work styles */
.work {
	margin-bottom: 45px;
}

.work-position {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 10px;
}

.organization {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fb6d3a;
}

.period {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
	margin-top: 0;
	margin-bottom: 8px;
}

.line {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
}

.work-list {
	padding: 0px;
	margin-top: 0;
	margin-left: 15px;
}

.work-list-item {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}

.annotation {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #fb6d3a;
}

/* education styles */
.education {
	margin-bottom: 0;
}

.university {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fb6d3a;
	margin-bottom: 8px;
}

.faculty {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 4px;
}

.title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}

/* sidebar styles */
.sidebar {
	background-color: #1e2939;
	padding-top: 80px;
	width: 370px;
}

.awatar-wrapper {
	width: 100%;
}

.photo {
	display: block;
	width: 110px;
	height: 110px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.sidebar-title {
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}

.contacts,
.tech-skills,
.soft-skills {
	padding-left: 40px;
	padding-right: 32px;
}

.contacts {
	margin-bottom: 50px;
}

.tech-skills {
	margin-bottom: 45px;
}

.contact-type {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	margin-right: 8px;
}

.contact-link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #fb6d3a;
}

.tech-skills-list,
.soft-skills-list {
	color: #ffffff;
	padding: 0;
	margin-left: 18px;
}

.tech-skills-item,
.soft-skills-item {
	color: #fb6d3a;
}

.tech-skills-text,
.soft-skills-text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}